/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
  scroll-behavior: smooth;
}

/* HERO SECTION */
#hero h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.hero-left h1 {
  font-weight: 700;
}

.hero-left h1 {
  font-size: 3rem;
  margin: 0;
}

.explore-text {
  background: linear-gradient(90deg, #00f5ff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.certification-text {
  color: #ff2ea6;
}

.hero-left p {
  margin-top: 1rem;
  color: #ccc;
}

/* EXPLORE BUTTON */
#exploreBtn {
  margin-top: 2rem;
  padding: 12px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, #00f5ff, #a855f7);
  color: white;
  transition: 0.4s;
  box-shadow: 0 0 20px #a855f7;
}

#exploreBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #00f5ff;
}

/* LOGO */
.logo {
  width: 170px;
  border-radius: 50%;
  box-shadow: 0 0 30px #00f5ff, 0 0 40px #ff2ea6;
}

/* CERTIFICATIONS SECTION */
#certifications {
  padding: 4rem 2rem;
}

/* CARDS */
.cards-container {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}

.cards-container.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.card {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  padding: 1.5rem;
  width: 260px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px #a855f7;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px #00f5ff;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  color: #ff2ea6;
}

.card button {
  margin-top: 1rem;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #00f5ff;
  color: black;
}
